[Desktop Entry]
Encoding=UTF-8
Name=Link to Resultado de imagem para fourchette 343 × 240 - fr.fotolia.com 
Type=Link
URL=https://www.google.com.br/imgres?imgurl=https%3A%2F%2Ft3.ftcdn.net%2Fjpg%2F01%2F43%2F94%2F72%2F240_F_143947289_gsBbrzQPR4LoBtshO8YIKhz9Sdwk4trb.jpg&imgrefurl=https%3A%2F%2Ffr.fotolia.com%2Ftag%2Ffourchette&docid=WUGIpl77CjWEKM&tbnid=8W2BFROq6QyL3M%3A&vet=10ahUKEwi3tuix0J_TAhUEl5AKHY7gBuoQMwgrKA8wDw..i&w=343&h=240&client=ubuntu&bih=796&biw=1218&q=fourchette&ved=0ahUKEwi3tuix0J_TAhUEl5AKHY7gBuoQMwgrKA8wDw&iact=mrc&uact=8
Icon=text-html
